//create "terminal" font from ShareTechMono font file
@font-face {
    font-family: "terminal";
    src: url(fonts/ShareTechMono-Regular.ttf);
}
//animation for blinking cursor
@keyframes blink {
    from {opacity: 1;}
    to {opacity: 0;}
}
//color variable for the terminal font color
$font-color : rgb(26,255,128);

//----general rules----
body {
    background-color:black;
    
    font-family: terminal;
    font-size:31px;
    color: $font-color;
    
    div {
        display: inline-block;
        line-height: 36px;
    }
}

//----class rules----
.attempt-block {   
    display: inline-block;
    background: $font-color;
                
}
.space-cell, .pointer-cell {
    color: black;
}
.cursor {
    font-size:45px;
}
.selectable {
    
}
.selectable:hover {
    background-color: $font-color;
    color: black;
    cursor: pointer;
    display: inline-block;
}
.blink {
    animation: blink .5s infinite;
}
.screen {
    position:relative;
    width: 100%;
    display:none;
    height: 700px;
}

//----id rules----
#header-content {
    display: none;
}
#netblock {
    display:none;
}
#content {
    position: absolute;
    width: 100%;
}
#home-content {
    display: none;
    #doc-link, #safe-link {
        display:block;
    }
}
#docs-content {
    #letter {
        display: inline-block;
        max-width: 921px; 
    }   
}
#doc-sign {
    top: 30%;
    height: 700px;
}
#safe-control {
    #engage, #safe-back  {
        display: block;
    }
}
#cmd {
    display: none;
    position: absolute;
    bottom: 2%;
    left: 1%;
}
